@model ConsumirApiCineStar.Models.CineViewModel
@{
    ViewData["Title"] = Model.CineDetalle?.RazonSocial ?? "Detalle de Cine";
}

<div class="contenido-interno" id="contenido-interno">
    <h2>@Model.CineDetalle?.RazonSocial</h2>
    
    <div class="cine-info">
        <div class="cine-info datos">
            <p>@Model.CineDetalle?.Direccion</p>
            <p>Teléfono: @Model.CineDetalle?.Telefonos</p>
            <br />
            
            <div class="tabla">
                @foreach (var t in Model.Tarifas)
                {
                    <div class="fila">
                        <div class="celda-titulo">@t.DiasSemana</div>
                        <div class="celda">S/. @t.Precio.ToString("0.00")</div>
                    </div>
                }
            </div>
            
            <div class="aviso">
                <p>A partir del 1ro de julio de 2016, Cinestar Multicines realizará el cobro de la comisión de S/. 1.00 adicional al tarifario vigente...</p>
            </div>
        </div>

        <img src="~/img/cine/@(Model.CineDetalle?.Id).2.jpg" />
        <br /><br />
        <h4>Los horarios de cada función están sujetos a cambios sin previo aviso.</h4>
        <br />

        <div class="cine-info peliculas">
            <div class="tabla">
                <div class="fila">
                    <div class="celda-cabecera">Películas</div>
                    <div class="celda-cabecera">Horarios</div>
                </div>
                @foreach (var h in Model.Horarios)
                {
                    <div class="fila">
                        <div class="celda-titulo">@h.TituloPelicula</div>
                        <div class="celda">@h.Horarios</div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div>
        <img style="float:left;" src="~/img/cine/@(Model.CineDetalle?.Id).3.jpg" alt="Imagen del cine" />
        <span class="tx_gris">
            Precios de los juegos: desde S/1.00 en todos los Cine Star.<br />
            Horario de atención de juegos es de 12:00 m hasta las 10:30 pm.
            <br /><br />
            Visítanos y diviértete con nosotros.
            <br /><br />
            <b>CINESTAR</b>, siempre pensando en ti.
        </span>
    </div>
</div>